body {
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    transition: 0.3s;
}

.container {
    width: 320px;
    margin: 60px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
}

button {
    background: #16a34a;
    color: white;
    border: none;
    cursor: pointer;
}

.dark-btn {
    background: #333;
}

/* 🌙 DARK MODE */
.dark {
    background-color: #121212;
    color: white;
}

.dark .container {
    background-color: #1e1e1e;
}

.dark button {
    background-color: #444;
}
